{% extends "base.html" %}

{% block content %}
<title>Login</title>

<style>
    body {
        background-color: white;
    }
    .form-wrapper {
        border: 2px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }
    .btn-primary:hover {
        opacity: 0.6;
    }
    .login-title {
        font-weight: bold;
    }
</style>
<div class="d-flex justify-content-center mt-5">
    <div class="col-md-5">
        <h2 class="text-center login-title">Login</h2>
        <div class="form-wrapper">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
            <hr>
            <div class="text-center">
                Don't have an account yet? <a href="{% url 'signup_user' %}">Sign Up</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}